# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=3bd9121212T2T2aYg==

# R2 Storage  UPLOAD_PROVIDER=aws-s3|local
UPLOAD_PROVIDER=local
R2_ACCESS_KEY_ID=你在 R2 上创建的 Access Key ID
R2_ACCESS_SECRET=你在 R2 上创建的 Access Key Secret
R2_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com
R2_BUCKET=你在 R2 上创建的 Bucket 名称
CDN_ROOT_PATH=上传路径前缀/
R2_CUSTOM_DOMAIN=你在 R2 上配置的自定义域名（如果有）